<div class="container py-5">
  <div class="card shadow-lg py-5 px-4">

    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="col-md-4 ms-5 px-5 mb-4 form-group">
        <label for="username" class="mb-2 ms-2">Username</label>
        <input
          type="text"
          class="form-control rounded-pill shadow-sm"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          Username is required!
        </div>
      </div>
      <div class="col-md-4 ms-5 px-5 mb-4 form-group">
        <label for="password" class="mb-2 ms-2">Password</label>
        <input
          type="password"
          class="form-control rounded-pill shadow-sm"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="col-md-4 ms-5 px-1 form-group">
        <button class="btn btn-primary px-5 ms-5 rounded-pill btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </div>
</div>
